body {
  text-align: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.background {
  width: 150vw;
  height: 150vh;
  position: absolute;
  top: -25vh;
  left: -25vw;
  background: url(/img/background-iphone.jpg) no-repeat;
  background-size: cover;
  z-index: 1;
  -webkit-transition: .1s;
  transition: .05s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.homescreen {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 3vw;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}

.dock {
  background: rgba(255,255,255,.3);
  position: absolute;
  width: 100vw;
  bottom: -2vw;
  left: 0;
  padding: 3vw 0 4vw 0;
}

.dock .icon {
  margin-top: 0;
  margin-bottom: 0;
}

.icon {
  text-align: center;
  font-size: 10vw;
  width: 20vw;
  height: 20vw;
  float: left;
  margin: 0 2.5vw 10vw 2.5vw;
  line-height: 20vw;
  border-radius: 5vw;
  box-shadow: 0 0 25px rgba(0,0,0,.5);
  color: #fff;
  position: relative;
}

.icon.supported:after {
  content: 'Support';
  font-size: 4vw;
  display: block;
  width: 20vw;
  text-align: center;
  position: absolute;
  bottom: -14vw;
}

.icon.left-to-right:after {
  content: 'Gamma';
  font-size: 4vw;
  display: block;
  width: 20vw;
  text-align: center;
  position: absolute;
  bottom: -14vw;
}

.icon.front-to-back:after {
  content: 'Beta';
  font-size: 4vw;
  display: block;
  width: 20vw;
  text-align: center;
  position: absolute;
  bottom: -14vw;
}

.icon:nth-child(3n) {
  background: #1abc9c;
}

.icon:nth-child(3n+1) {
  background: #e74c3c;
}

.icon:nth-child(3n+2) {
  background: #27ae60;
}

.icon:nth-child(3n+3) {
  background: #f1c40f;
}

.icon.twitter {
  background-color: #00aced;
}

.icon.twitter a {
  display: block;
  background: url(/img/larry.png) left top no-repeat;
  background-size: cover;
  width: 20vw;
  height: 20vw;
}

.icon.github a {
  display: block;
  background: url(/img/octocat.png) left top no-repeat;
  background-size: cover;
  width: 20vw;
  height: 20vw;
}